#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

service vendor.livedisplay-sx4 /vendor/bin/hw/vendor.lineage.livedisplay-service.sx4
    class hal
    user system
    group system
